.header {
    background: $tertiary-dark-color;
    width: 100%;
}

.header__list {
    list-style: none;
    margin:0 auto;
    padding-top:20px;
    display:flex;
    width:60%;
}


.header__item--bold {
    @include heading-font($text-large,$secondary-color);
    line-height:20px;
    margin: 0 23px 0 23px;
}

.header__link {
    @include menu-text-color($secondary-color);
    margin: 0 23px 0 23px;
}

.header__link--accent {
    @include menu-text-color($accent-color);
}

.header__main-flex-container {
    display:flex;
    width:100%;
    position:relative;
}

.header__title {
    @include heading-font($willow-text, $secondary-color);
    margin: 0;
    
    flex: 0 1 60%;
    align-self: center;

    &::before {
        content: url('../assets/circle-text.png');
        position: absolute;
        left: -50px;
        top: 250px;
    }
}

.header__img {
    box-shadow: 20px 20px 0 white;
    flex: 0 1 40%;
    position: relative;
    top: 60px;
    height: 700px;
}

// BLOG STYLES BEGIN 
.header {
    &__blog-img{
    background: url("../assets/blog-image-1.jpg");
    height:400px;
    }

    &__blog-title {
        @include heading-font($text-xlarge,$secondary-color);
        line-height:92px;
    
    }




}


