.header {
    background: $tertiary-dark-color;
    width: 100%;
    max-width:1600px;
}




.header__list {
    list-style: none;
    margin:0 auto;
    padding-top:20px;
    display:flex;
    justify-content: space-around;
    width:60%;
    

}

.header__item--bold {
    @include heading-font(3.2rem,$secondary-color);
    line-height:20px;
}

.header__link {
    @include menu-text-color($secondary-color);
}

.header__link--accent {
    @include menu-text-color($accent-color);
}

.header__main-flex-container {
    display:flex;
    width:100%;
    position:relative;
}

.header__title {
    @include heading-font($willow-text, $secondary-color);
    margin: 0;
    
    flex: 0 1 60%;
    align-self: center;

    &::before {
        content: url('../assets/circle-text.png');
        position: absolute;
        left: -50px;
        top: 230px;
    }
}

.header__img {
    box-shadow: 20px 20px 0 white;
    flex: 0 1 40%;
    position: relative;
    top: 60px;
}

