.header {
    background: $tertiary-dark-color;
}

.header__list {
    list-style: none;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    width: 60%;
}

.header__item--bold {
    @include heading-font($text-large, $secondary-color);
    line-height: 20px;
    margin: 0 23px 0 23px;
}

.header__link {
    @include menu-text-color($secondary-color);
    margin: 0 23px 0 23px;
    &:hover {
        color: $accent-color;
    }
}

.header__link--accent {
    @include menu-text-color($accent-color);
}

.header__main-flex-container {
    display: flex;
    width: 100%;
    position: relative;
}

.header__title {
    @include heading-font($willow-text, $secondary-color);
    margin: 0;

    flex: 0 1 auto;
    align-self: center;
    height: 700px;
    text-align: right;
    padding-right: 20px;

    &::before {
        content: url('../assets/circle-text.png');
        position: relative;
        left: -550px;
        top: 220px;
    }
}

.header__img {
    box-shadow: 20px 20px 0 white;
    flex: 1 0 auto;
    position: relative;
    top: 60px;
    width: 500px;
}

// BLOG STYLES BEGIN
.header {
    &__blog {
        height: 50vh;
    }

    &__blog-img {
        background: url('../assets/blog-image-1.jpg');
    }

    &__flex-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__nav {
        background: $tertiary-dark-color;
        padding-bottom: 13px;
    }

    &__blog-tittle-header {
        position: relative;
    }

    &__list {
        padding-left: 0;
        justify-content: center;
    }

    &__blog-title {
        @include heading-font($text-xlarge, $secondary-color);
        line-height: 92px;
        margin: 0;
        position: relative;
        top: 17px;
    }
}

// CONTACT STYLES BEGIN
.header {
    &__contact {
        height: 50vh;
    }

    &__contact-img {
        background: url('../assets/contact-image-1.jpg');
    }

    &__flex-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__nav {
        background: $tertiary-dark-color;
        padding-bottom: 13px;
    }

    &__contact-tittle-header {
        position: relative;
    }

    &__list {
        padding-left: 0;
        justify-content: center;
    }

    &__contact-title {
        @include heading-font($text-xlarge, $secondary-color);
        line-height: 92px;
        margin: 0;
        position: relative;
        top: 17px;
    }
}

//media query
// 1505px -circle shifts ; 2x2 maybe move margin of the text up
