

.about {
    background: $secondary-color;
    padding:100px 0;
    &__container {
        text-align:center;
    }
    &__title {
        margin: 0;
        @include heading-font ($text-large,$primary-color);
        text-align: center;
    }
    &__text {
        @include body-text(center);
    }
    &__link {
        @include button-style(10px 25px 10px 25px);
       
    }
}


.favourite {
    &__flex-container {
        display:flex;
        position:relative;
    }
    .favourite__flex-item {
        flex:0 1 50%;
    }
    .favourite__img {
        box-shadow: 20px 20px $tertiary-light-color,
        -150px 20px $tertiary-light-color;
        position:relative;
        bottom:50px;           
        height:400px; 
    }
    .favourite__info {
        text-align:left;
        padding:50px 0 0 110px;
    }
    &__title{
        @include heading-font ($text-medium,$primary-color);
        text-align:left;
        margin:0;
    }
    &__text{
        @include body-text (left);
    }
    &__link {
            @include button-style(10px 25px);
            
        }
    }    
    

.bucket {
    &__flex-container {
        display: flex;
        position: relative;
        text-align: right;
    }
    .bucket__flex-item {
        flex: 0 1 50%;
    }   
    
    .bucket__info {
        text-align: right;
        margin: 50px 110px 0 0;
    }
    
    .bucket__img {
        box-shadow: 20px 20px $tertiary-dark-color,
        150px 20px $tertiary-dark-color;
        position:relative;
        top:60px;
        right:10px;
        height:400px;
    }
    
    &__title {
        @include heading-font($text-medium,$primary-color);
        margin:0;
    }
    
    &__text {
        @include body-text(right);
    }
    
    &__link{
        @include button-style(10px 25px);
        margin-bottom: 60px;
    }
}
    
    // h-offset v-offset blur spread color
.journey {
    background: $secondary-color;
    padding:100px 0;

    &__flex-container {
        display:flex;
        margin-top:50px;
        margin-bottom:40px;
        .journey__img {
            flex: 0 1 33%;
            box-shadow: 20px 20px $tertiary-light-color;
        }
        .journey__item-container {
            text-align:left;
            flex:0 1 67%;
            padding-left: 120px;
        }
    }
    &__title {
        margin:0;
        @include heading-font($text-large,$primary-color);
        text-align:left;
        font-weight:300;
    }
    &__text {
        @include body-text(left);
        margin:25px 0 13px 0;
    }
    &__link {
        @include button-style(10px 25px 10px 25px)
        
    }
}


// BLOG STYLES BEING //

.blog {
    background:$secondary-color;
    &__main-flex-container {
        display:flex;
        padding-top:50px;
    }
        &__sidebar-flex-container {
            flex: 0 1 33%;
            flex-direction:wrap;
            
           
        }
            &__sidebar-item {
                display:flex;
                flex: 0 1 100%;
                margin-bottom: 20px;
                padding:35px;
                background:white;
                justify-items: center;
                flex-direction:column;
               
            }

                &__side-title {
                    @include heading-font($text-small,$primary-color);
                    text-align:left;
                    font-weight:300;
                    }

                &__side-text {
                    @include body-text(left);
                }

                &__side-list {
                    list-style:circle;
                    font-weight:lighter;
                }
                      
            
        &__post-flex-container {
            flex: 0 1 67%;
            padding:30px;
            background:white;
            margin-bottom:20px;
            border-bottom: 6px solid $tertiary-light-color;
            margin-left:31px;
        }
            &__post-title {
                @include heading-font($text-medium,$primary-color);
            }

            &__main-text {
                @include body-text(left);

            }

}

.comments {
    background:$secondary-color;
    &__main-container {
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        width:65.5%;
        margin-left: 34.5%;
        border-bottom: 6px solid $tertiary-light-color;
    }
        &__first-commenter-container {
            display:flex;
            width:100%;
            padding:20px;
            background:white;
            flex-wrap:wrap;
            margin-bottom:20px;
        }

            &__img-wrapper {
                width:20%;
                text-align:center;
                margin-top:20px;
                
            }

            &__img{
                max-width:100%;
        
            }

            &__text-wrapper {
                width:80%;
                padding:28px 30px 30px 20px;
            }
                &__text{
                    @include body-text(left);
                }

              

        &__second-commenter-container{
            width:100%;
            display:flex;
            background:white;
            padding:20px;
            
        }
            &__img-wrapper{
                width:20%;
            }
            &__img {
                max-width:100%;
            }

            &__text-wrapper{
                width:80%;
            }

}

.comment-form {
    background:$secondary-color;
    &__container {
        display:flex;
        flex-wrap:wrap;
        width:65.5%;
        margin-left: 34.5%;
        height:350px;

       
    }
    
        &__name-email-wrapper {
            margin-top:20px;
            // margin-bottom:20px;
            flex: 0 1 100%;
            display:flex;
            width:100%;
            height:20%
        }
            &__name {
                flex: 0 1 100%;
            }

            &__email {
                flex: 0 1 100%;
            }

        &__box{
            flex: 0 2 100%;
            width:100%;
            height:75%;
        }
        
        &__button {
            flex: 0 1 100%;
            height:5%;
        }

}


// CONTATCT STYLES BEGIN
.contact {
    background:$secondary-color;
    &__main-container {
        display:flex;
        padding:50px;
    
    }
    // the social media box 
        &__info-container {
            flex: 0 1 33%;
            background: white;
            margin-right:20px;
            width:100%;
            display:flex;
            flex-direction:column;
            justify-items:center;
            padding:20px;
            
            
            
        }
            // &__contact-media {
            //     text-align:left;
            // }
                &__media-list {
                    list-style:none;
                    padding:0;
                    
                }
                    &__media-item {
                        display:inline-block;
                        
                    }
                        &__media-link {
                            color: $tertiary-dark-color;
                            font-size:$primary-text;
                            margin-right:18px;
                        }
                        
                &__details {
                    list-style:none;
                    padding:0;
                }
                    &__text-link--bold{
                        font-weight:400;
                    }

                    &__text-link {
                        text-decoration:none;
                        font-size:$primary-text;
                        color:$primary-color;
                        font-weight:100;
                    }



        &__form-container {
            flex: 0 1 67%;
        }






}