
// FONTS and SIZES 
@mixin heading-font($size-value,$color) {
    transform:uppercase;
    font-family:'Abril Fatface', cursive;
    text-transform:uppercase;
    font-size: $size-value;
    // font-size: $sizeValue * 1px;
    // font-size:$sizeValue/10 * 1rem; 
    color: $color;
    letter-spacing: 1px;
}

@mixin menu-text-color($color) {
    font-family: 'Montserrat', sans-serif;
    font-size: $primary-text;
    font-weight:600;
    letter-spacing: 1px;
    text-decoration:none;
    text-transform:uppercase;
    line-height:29px;
    color:$color;
}

@mixin body-text($text-align) {
    font-family: 'Montserrat', sans-serif;
    font-size:$primary-text;
    letter-spacing: 1px;
    line-height:32px;
    text-align:$text-align;
}

@mixin button-style($padding...) {
    text-decoration: none;
    background: $accent-color;
    color: $primary-color;
    font-family: 'Abril Fatface',cursive;
    letter-spacing: 1px;
    line-height:32px;
    text-align:center;
    text-transform:uppercase;
    font-size:$primary-text;
    font-weight:400;
    display: inline-block;
    margin-top:20px;
    padding: $padding;

}









    // font-family: 'Montserrat', sans-serif;
    // font-family: 'Abril Fatface', cursive;

// Menu Text (Home, About)
// Montserrat, Bold, 20px


// Flex Styling 
