

@mixin heading-font($sizeValue,$color) {
    transform:uppercase;
    font-family:'Abril Fatface', cursive;
    text-transform:uppercase;
    font-size: $sizeValue;
    // font-size: $sizeValue * 1px;
    // font-size:$sizeValue/10 * 1rem; 
    color: $color;
    letter-spacing: 1px;
}

@mixin menu-text-color($color) {
    font-family: 'Montserrat', sans-serif;
    font-size: $primary-text;
    font-weight:600;
    letter-spacing: 1px;
    text-decoration:none;
    text-transform:uppercase;
    line-height:29px;
    color:$color;
}



    // font-family: 'Montserrat', sans-serif;
    // font-family: 'Abril Fatface', cursive;

// Menu Text (Home, About)
// Montserrat, Bold, 20px


