// Colors 
$primary-color:#1f1f1f;
$secondary-color:#f6f6f6;
$tertiary-dark-color:#345231;
$tertiary-light-color: #709b6b;
$accent-color: #e4a436;

// Font-sizes
$primary-text:2rem;
$heading-text-small: 2.4rem;
$heading-text-medium:3.2rem;
$heading-text-large: 4.2rem;
$heading-text-Xlarge:8rem;
$willow-text:15rem;