@import "partials/setup";
@import "partials/variables";
@import "partials/mixins";

@import "partials/global";
@import "partials/header";
@import "partials/main";
@import "partials/aside";
@import "partials/footer";
@import "partials/media-query";