article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}

.header {
  background: #345231;
}

.header__list {
  list-style: none;
  margin: 0 auto;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
}

.header__item--bold {
  -webkit-transform: uppercase;
          transform: uppercase;
  font-family: 'Abril Fatface', cursive;
  text-transform: uppercase;
  font-size: 4.2rem;
  color: #f6f6f6;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 20px;
  margin: 0 23px 0 23px;
}

.header__link {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 29px;
  color: #f6f6f6;
  margin: 0 23px 0 23px;
}

.header__link:hover {
  color: #e4a436;
}

.header__link--accent {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 29px;
  color: #e4a436;
}

.header__main-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
}

.header__title {
  -webkit-transform: uppercase;
          transform: uppercase;
  font-family: 'Abril Fatface', cursive;
  text-transform: uppercase;
  font-size: 15rem;
  color: #f6f6f6;
  letter-spacing: 1px;
  font-weight: 300;
  margin: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 700px;
  text-align: right;
  padding-right: 20px;
}

.header__title::before {
  content: url("../assets/circle-text.png");
  position: relative;
  left: -550px;
  top: 220px;
}

.header__img {
  -webkit-box-shadow: 20px 20px 0 white;
          box-shadow: 20px 20px 0 white;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  position: relative;
  top: 60px;
  width: 500px;
}

.header__blog {
  height: 50vh;
}

.header__blog-img {
  background: url("../assets/blog-image-1.jpg");
}

.header__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav {
  background: #345231;
  padding-bottom: 13px;
}

.header__blog-tittle-header {
  position: relative;
}

.header__list {
  padding-left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__blog-title {
  -webkit-transform: uppercase;
          transform: uppercase;
  font-family: 'Abril Fatface', cursive;
  text-transform: uppercase;
  font-size: 8rem;
  color: #f6f6f6;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 92px;
  margin: 0;
  position: relative;
  top: 17px;
}

.header__contact {
  height: 50vh;
}

.header__contact-img {
  background: url("../assets/contact-image-1.jpg");
}

.header__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav {
  background: #345231;
  padding-bottom: 13px;
}

.header__contact-tittle-header {
  position: relative;
}

.header__list {
  padding-left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__contact-title {
  -webkit-transform: uppercase;
          transform: uppercase;
  font-family: 'Abril Fatface', cursive;
  text-transform: uppercase;
  font-size: 8rem;
  color: #f6f6f6;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 92px;
  margin: 0;
  position: relative;
  top: 17px;
}

.about {
  background: #f6f6f6;
  padding: 100px 0;
}

.about__container {
  text-align: center;
}

.about__title {
  margin: 0;
  -webkit-transform: uppercase;
          transform: uppercase;
  font-family: 'Abril Fatface', cursive;
  text-transform: uppercase;
  font-size: 4.2rem;
  color: #1f1f1f;
  letter-spacing: 1px;
  font-weight: 300;
  text-align: center;
}

.about__text {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: center;
}

.about__link {
  text-decoration: none;
  background: #e4a436;
  color: #1f1f1f;
  font-family: 'Abril Fatface',cursive;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 300;
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px 10px 25px;
}

.favourite__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.favourite .favourite__flex-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.favourite .favourite__img {
  -webkit-box-shadow: 20px 20px #709b6b, -150px 20px #709b6b;
          box-shadow: 20px 20px #709b6b, -150px 20px #709b6b;
  position: relative;
  bottom: 50px;
  width: 640px;
}

.favourite .favourite__info {
  text-align: left;
  padding: 50px 0 0 110px;
}

.favourite__title {
  -webkit-transform: uppercase;
          transform: uppercase;
  font-family: 'Abril Fatface', cursive;
  text-transform: uppercase;
  font-size: 3.2rem;
  color: #1f1f1f;
  letter-spacing: 1px;
  font-weight: 300;
  text-align: left;
  margin: 0;
}

.favourite__text {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: left;
}

.favourite__link {
  text-decoration: none;
  background: #e4a436;
  color: #1f1f1f;
  font-family: 'Abril Fatface',cursive;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 300;
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px;
}

.bucket__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  text-align: right;
}

.bucket .bucket__flex-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.bucket .bucket__info {
  text-align: right;
  margin: 50px 110px 0 0;
}

.bucket .bucket__img {
  -webkit-box-shadow: 20px 20px #345231, 150px 20px #345231;
          box-shadow: 20px 20px #345231, 150px 20px #345231;
  position: relative;
  top: 60px;
  right: 10px;
  height: 400px;
}

.bucket__title {
  -webkit-transform: uppercase;
          transform: uppercase;
  font-family: 'Abril Fatface', cursive;
  text-transform: uppercase;
  font-size: 3.2rem;
  color: #1f1f1f;
  letter-spacing: 1px;
  font-weight: 300;
  margin: 0;
}

.bucket__text {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: right;
}

.bucket__link {
  text-decoration: none;
  background: #e4a436;
  color: #1f1f1f;
  font-family: 'Abril Fatface',cursive;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 300;
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px;
  margin-bottom: 60px;
}

.journey {
  background: #f6f6f6;
  padding: 100px 0;
}

.journey__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-bottom: 40px;
}

.journey__flex-container .journey__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
  -webkit-box-shadow: 20px 20px #709b6b;
          box-shadow: 20px 20px #709b6b;
}

.journey__flex-container .journey__item-container {
  text-align: left;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 67%;
          flex: 0 1 67%;
  padding-left: 120px;
}

.journey__title {
  margin: 0;
  -webkit-transform: uppercase;
          transform: uppercase;
  font-family: 'Abril Fatface', cursive;
  text-transform: uppercase;
  font-size: 4.2rem;
  color: #1f1f1f;
  letter-spacing: 1px;
  font-weight: 300;
  text-align: left;
  font-weight: 300;
}

.journey__text {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: left;
  margin: 25px 0 13px 0;
}

.journey__link {
  text-decoration: none;
  background: #e4a436;
  color: #1f1f1f;
  font-family: 'Abril Fatface',cursive;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 300;
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px 10px 25px;
}

.blog {
  background: #f6f6f6;
}

.blog__main-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog__sidebar-flex-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 32%;
          flex: 0 1 32%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: wrap;
          flex-direction: wrap;
  width: 100%;
  margin-right: 40px;
}

.blog__sidebar-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  margin-bottom: 20px;
  padding: 35px;
  background: white;
  justify-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog__side-title {
  -webkit-transform: uppercase;
          transform: uppercase;
  font-family: 'Abril Fatface', cursive;
  text-transform: uppercase;
  font-size: 2.4rem;
  color: #1f1f1f;
  letter-spacing: 1px;
  font-weight: 300;
  text-align: left;
  font-weight: 300;
}

.blog__side-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: left;
}

.blog__side-list {
  font-weight: lighter;
}

.blog__side-link {
  color: #709b6b;
}

.blog__sub-main-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 65%;
          flex: 0 1 65%;
  margin-bottom: 100px;
  width: 100%;
}

.blog__post-flex-container {
  width: 100%;
  padding: 30px;
  background: white;
  margin-bottom: 30px;
  border-bottom: 6px solid #709b6b;
}

.blog__post-title {
  -webkit-transform: uppercase;
          transform: uppercase;
  font-family: 'Abril Fatface', cursive;
  text-transform: uppercase;
  font-size: 3.2rem;
  color: #1f1f1f;
  letter-spacing: 1px;
  font-weight: 300;
}

.blog__main-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: left;
}

.blog__comments-main-container {
  width: 100%;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog__first-commenter-container {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog__comments-img-wrapper {
  width: 20%;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
}

.blog__comments-img {
  max-width: 100%;
}

.blog__comments-text-wrapper {
  width: 75%;
}

.blog__comments-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: left;
  margin: 0;
  padding: 0 10px;
}

.blog__comments-text:first-child {
  margin-top: 25px;
}

.blog__comments-text:last-child {
  margin-bottom: 25px;
}

.blog__second-commenter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  margin-top: 30px;
}

.blog__comments-img-wrapper {
  width: 20%;
}

.blog__comments-img {
  max-width: 100%;
}

.blog__comments-text-wrapper {
  width: 80%;
}

.blog__comment-form-container {
  width: 100%;
  background: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 450px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog__name-email-wrapper {
  margin-top: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog__name, .blog__email {
  padding: 25px;
  width: 49%;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: left;
}

.blog__name::-webkit-input-placeholder, .blog__email::-webkit-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: left;
  opacity: 1;
}

.blog__name:-ms-input-placeholder, .blog__email:-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: left;
  opacity: 1;
}

.blog__name::-ms-input-placeholder, .blog__email::-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: left;
  opacity: 1;
}

.blog__name::placeholder, .blog__email::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: left;
  opacity: 1;
}

.blog__box {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
  margin-top: 20px;
  padding: 25px;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: left;
  resize: none;
  border: none;
}

.blog__box::-webkit-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: left;
  opacity: 1;
}

.blog__box:-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: left;
  opacity: 1;
}

.blog__box::-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: left;
  opacity: 1;
}

.blog__box::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: left;
  opacity: 1;
}

.blog__button {
  width: 100%;
  text-decoration: none;
  background: #e4a436;
  color: #1f1f1f;
  font-family: 'Abril Fatface',cursive;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 300;
  display: inline-block;
  margin-top: 20px;
  padding: 0;
  padding: 10px 0 10px 0;
  border: none;
}

.blog__button::value {
  size: 2rem;
  font-weight: 300;
}

.contact {
  background: #f6f6f6;
}

.contact__main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__info-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 32%;
          flex: 0 1 32%;
  background: white;
  margin-right: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 18px 30px 25px;
}

.contact__media-list {
  list-style: none;
  padding: 0;
}

.contact__media-item {
  display: inline-block;
}

.contact__media-link {
  color: #345231;
  font-size: 2.4rem;
  margin-right: 18px;
}

.contact__details {
  list-style: none;
  padding: 0;
}

.contact__text-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: left;
  text-decoration: none;
  color: #1f1f1f;
  font-weight: 100;
}

.contact__text-link--bold {
  font-weight: bold;
}

.contact__details-item {
  margin-bottom: 18px;
}

.contact__form-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 65%;
          flex: 0 1 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 500px;
}

.contact__email-name-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__email, .contact__name {
  padding: 25px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: left;
  width: 49%;
}

.contact__email::-webkit-input-placeholder, .contact__name::-webkit-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: left;
  opacity: 1;
}

.contact__email:-ms-input-placeholder, .contact__name:-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: left;
  opacity: 1;
}

.contact__email::-ms-input-placeholder, .contact__name::-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: left;
  opacity: 1;
}

.contact__email::placeholder, .contact__name::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: left;
  opacity: 1;
}

.contact__message {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
  margin-top: 20px;
  padding: 25px;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: left;
  resize: none;
  border: none;
}

.contact__message::-webkit-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: left;
  opacity: 1;
}

.contact__message:-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: left;
  opacity: 1;
}

.contact__message::-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: left;
  opacity: 1;
}

.contact__message::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: left;
  opacity: 1;
}

.contact__button {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 10%;
          flex: 1 0 10%;
  text-decoration: none;
  background: #e4a436;
  color: #1f1f1f;
  font-family: 'Abril Fatface',cursive;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 300;
  display: inline-block;
  margin-top: 20px;
  padding: 0;
  padding: 5px 0 5px 0;
  border: none;
}

.contact__button::value {
  size: 2rem;
}

.background__img {
  display: block;
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
}

.gallery__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 70px 0;
}

.gallery__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
  margin-right: 30px;
}

.gallery__img:last-child {
  margin-right: 0;
}

.footer {
  background: #f6f6f6;
}

.footer__main-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__item {
  list-style: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.footer__link {
  text-decoration: none;
  color: #1f1f1f;
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 3.2rem;
  font-weight: 300;
  margin-right: 10px;
  display: inline-block;
}

.footer__icon {
  background-color: #e4a436;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 2rem;
  display: inline-block;
}

.footer__icon::before {
  position: relative;
  left: 15px;
  top: 15px;
}

.footer__icon.fa-tv::before {
  left: 13px;
}

.footer__link-span {
  display: inline-block;
  position: relative;
  top: 20px;
  margin-left: 15px;
}

.footer__text {
  margin-left: 75px;
  margin-right: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: auto;
}

.footer__note {
  background-color: #1f1f1f;
  color: #f6f6f6;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: center;
  font-weight: 100;
  padding: 5px 0 5px 0;
  margin: 0;
  text-decoration: none;
}

@media (max-width: 1505px) {
  .favourite .favourite__info {
    padding: 20px 0 0 50px;
  }
  .favourite__link {
    margin: 0;
  }
  .bucket .bucket__info {
    margin: 50px 50px 0 0;
  }
  .bucket__link {
    margin: 0;
  }
}

@media (max-width: 1365px) {
  .favourite__img {
    max-width: 512px;
  }
  .bucket .bucket_img {
    height: 320px;
  }
}

@media (max-width: 1320px) {
  .header__main-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__title {
    height: auto;
  }
  .header__title::before {
    left: 70px;
    top: 10px;
  }
  .header__img {
    width: 400px;
  }
}

@media (max-width: 1003px) {
  .header__title {
    display: none;
  }
  .favourite__flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 50px;
  }
  .favourite__flex-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    text-align: center;
  }
  .favourite__title, .favourite__text, .favourite__link {
    text-align: center;
  }
  .favourite .favourite__info {
    text-align: center;
  }
  .bucket__flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 50px;
  }
  .bucket__flex-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    text-align: center;
  }
  .bucket__title, .bucket__text, .bucket__link {
    text-align: center;
  }
  .bucket .bucket__info {
    text-align: center;
  }
  .bucket .bucket__img {
    top: 0;
  }
  .journey {
    padding: 40px;
  }
  .journey__flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
  }
  .journey__flex-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    text-align: center;
  }
  .journey__title, .journey__text, .journey__link {
    text-align: center;
  }
  .journey .journey__item-container {
    text-align: center;
    padding-top: 30px;
  }
}

@media (max-width: 785px) {
  .header__link {
    margin: 10px;
    font-size: 2rem;
  }
  .header .header__item {
    font-size: 3.4rem;
    line-height: 15px;
  }
  .header__nav {
    padding: 0 5px;
  }
  .header__img {
    width: 300px;
  }
  .footer__text {
    display: none;
  }
  .footer__link {
    font-size: 2.4rem;
  }
}

@media (max-width: 746px) {
  .journey__flex-container {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .journey__flex-container {
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
  }
  .journey__img {
    width: 300px;
  }
  .journey .journey__item-container {
    padding: 0;
    text-align: center;
    margin-top: 50px;
  }
  .bucket .bucket__img,
  .favourite .favourite__img {
    width: 500px;
  }
  .gallery__flex-container {
    padding: 50px 0;
  }
  .footer__link {
    font-size: 2rem;
    text-align: center;
    padding: 5px 0 5px 0;
  }
  .footer__icon::before {
    left: 0px;
  }
  .fa-tv.footer__icon::before {
    left: 2px;
  }
  .footer__note {
    font-size: 1.6rem;
  }
}

@media (max-width: 640px) {
  .header__link {
    margin: 5px;
    font-size: 1.8rem;
  }
  .header .header__item {
    font-size: 3rem;
    line-height: 16px;
  }
  .gallery__flex-container {
    padding: 35px 0;
  }
}

@media (max-width: 588px) {
  .header__nav {
    padding: 0;
  }
  .header__item:nth-child(3) {
    display: none;
  }
  .header__link {
    margin: 10px;
    font-size: 1.2rem;
  }
  .header__img {
    width: 250px;
    position: static;
  }
  .header__main-flex-container {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin-top: 20px;
  }
  .favourite .favourite__img {
    width: 100%;
    -webkit-box-shadow: -20px -20px #709b6b;
            box-shadow: -20px -20px #709b6b;
    margin-top: 20px;
  }
  .favourite__flex-container {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .favourite .favourite__info {
    padding: 0;
  }
  .favourite .favourite_text {
    margin: 0;
  }
  .bucket__flex-container {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .bucket .bucket__info {
    margin: 50px 0 0 0;
    text-align: center;
  }
  .bucket .bucket__img {
    width: 100%;
    -webkit-box-shadow: 20px 20px #345231;
            box-shadow: 20px 20px #345231;
    margin-top: 50px;
    padding-left: 20px;
  }
  .journey__flex-container {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .journey__flex-container {
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
  }
  .journey.journey__img {
    width: 150px;
  }
  .journey .journey__item-container {
    padding: 0;
    text-align: center;
    margin-top: 50px;
  }
  .footer__main-flex-container {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    display: block;
    padding: 30px 0 30px 80px;
  }
  .footer__item {
    display: block;
  }
  .footer__link {
    font-size: 2rem;
    text-align: center;
    padding: 5px 0 5px 0;
  }
  .footer__icon::before {
    left: 0px;
  }
  .fa-tv.footer__icon::before {
    left: 2px;
  }
  .footer__note {
    font-size: 1.6rem;
  }
}

@media (max-width: 458px) {
  .header__nav {
    padding: 0;
  }
  .header__item:nth-child(3) {
    display: none;
  }
  .header__link {
    margin: 10px;
    font-size: 1.2rem;
  }
  .header__img {
    width: 200px;
    position: static;
  }
  .header__main-flex-container {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin-top: 20px;
  }
  .favourite .favourite__img {
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-top: 20px;
  }
  .favourite__flex-container {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .favourite .favourite__info {
    padding: 0;
  }
  .favourite .favourite_text {
    margin: 0;
  }
  .bucket__flex-container {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .bucket .bucket__info {
    margin: 50px 0 0 0;
    text-align: center;
  }
  .bucket .bucket__img {
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-top: 50px;
    padding-left: 20px;
  }
  .journey__flex-container {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .journey__flex-container .journey__img {
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 80%;
  }
  .journey .journey__item-container {
    padding: 0;
    text-align: center;
    margin-top: 50px;
  }
  .gallery__flex-container {
    display: block;
    padding: 20px 0 20px;
  }
  .gallery__img {
    width: 100%;
    margin-top: 20px;
  }
  .footer__main-flex-container {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    display: block;
    padding: 0;
  }
  .footer__item {
    display: block;
  }
  .footer__link {
    font-size: 2rem;
    text-align: center;
    padding: 5px 0 5px 0;
  }
  .footer__icon::before {
    left: 0px;
  }
  .fa-tv.footer__icon::before {
    left: 2px;
  }
  .footer__note {
    font-size: 1.6rem;
  }
}

@media (max-width: 880px) {
  .contact__main-container {
    display: block;
  }
  .contact__email-name-wrapper {
    margin-top: 20px;
  }
}

@media (max-width: 680px) {
  .header__contact-title {
    font-size: 5.5rem;
  }
}

@media (max-width: 466px) {
  .header__contact-title {
    font-size: 4.2rem;
  }
}

@media (max-width: 1150px) {
  .blog__main-flex-container {
    display: block;
  }
  .blog__sidebar-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .blog__side-img-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }
  .blog__side-img {
    width: 300px;
  }
  .blog__side-title-text-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
    margin: 0 30px;
  }
}

@media (max-width: 769px) {
  .blog__side-img {
    width: 200px;
  }
}

@media (max-width: 713px) {
  .blog__sidebar-item {
    display: block;
  }
  .blog__side-img-wrapper {
    text-align: center;
  }
  .blog__side-title-text-wrapper {
    margin: 0;
  }
}

@media (max-width: 705px) {
  .header__blog-title {
    font-size: 4.2rem;
  }
}
/*# sourceMappingURL=style.css.map */